.black {
  background: #000;
  color: #fff;
}

.dark {
  background: #06162d;
}

.dark-transparent {
  background: rgba(6, 22, 45, 0.75);
  color: #c8d9f1;
}

.light {
  background: #c8d9f1;
  color: #06162d;
}

.white {
  background: #fff;
  color: #06162d;
}

.primary {
  background: #c31480;
  color: #c8d9f1;
}

.secondary {
  background: #5184ad;
  color: #c8d9f1;
}

/*channel colors*/
.p1 {
  background: #31a1bd;
}

.p2 {
  background: #ff5a00;
}

.p3 {
  background: #19a972;
}

.p4 {
  background: #c31eaa;
}

.p5 {
  background: #e0004d;
}

.p6 {
  background: #0065bd;
}

.SR {
  background: rgb(22, 66, 168);
}

.sisuradio {
  background: #0065bd;
}

/*text colors*/
.text-light {
  color: #fff;
}

.program-info p {
  color: #fff;
}

detail p {
  color: #000 !important;
}
